.sidepanel {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 230px;
    left: 50px;
    height: 340px;
    z-index: 3;
    align-items: center;
    &__divider {
        width: 2px;
        height: 70px;
        background-color: black;
    }
    &__text {
        width: 131px;
        height: 24px;
        transform: rotate(-90deg) translate(-55px,-1px);
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }
    &__link {
        img {
            width: 20px;
            height: 20px;
        }
        #tg {
            width: 22px;
            height: 22px;
        }
    }
}