.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    color: #000000;
    &__fz14 {
        font-size: 14px;
    }
    &__fz16 {
        font-size: 16px;
        line-height: 24px;
    }
    &__fz48 {
        font-size: 48px;

    }
}